<h1>Редактирование физического лица</h1>

<%= render 'form' %>

<%= link_to 'Карточка', @person,html_options={ :class => "btn btn-default", :method => :get} %> |
<%= link_to 'Назад', people_path, html_options={ :class => "btn btn-default", :method => :get} %>
