<div class="navbar navbar-default navbar-fixed-bottom">
	<div class = "navbar-header">
      <p class="navbar-text">EGAR Technology</p>
    </div>
    <div>
    	<p class = "navbar-text navbar-right"><%= notice %></p>
    </div>
    <div>
    	<p class = "navbar-text navbar-right" id="status_bar"><%= alert %></p>
    </div>
</div>