<ul>
	<% @process.insurances.each do |i| %>
		<li id="ins"+"<%= i.id %>"><%= i.name %> <button type="button" class="btn btn-default btn-xs" onclick="removeIns(<%= i.id %>)">
  							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>
		</li>
	<% end %>
</ul>	