<h4>4.1. Основная работа (заполняется при наличии)</h3>
<table class="table" style="width:100%">
    <tr>
      <td style="width:300px;vertical-align:top">Стаж на последнем месте работы</td>
      <td><table><tr><td style="padding-right:15px;width:70px"><%= f.number_field(:mainWorkYears, class: "form-control") %></td><td style="padding-right:15px">лет </td><td style="padding-right:15px;width:70px"><%= f.number_field(:mainWorkMonths, class: "form-control") %></td><td style="padding-right:15px"> месяцев</td></tr></table>
      </td>
    </tr>
</table>

<%= render(:partial => 'works/form', :locals => {:work => @request.mainwork}) %>
<!--<%= render(:partial => 'works/form', :locals => {:work => @request.secondwork}) %>-->
