<h1>Список Заявок</h1>

<table class="table">
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><td><%= link_to request.id.to_s, request %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>

