<script type="text/javascript" language="javascript">
function commitForm() {
  var vals= $('#new_request').serialize();
  $.ajax({
        type: "GET",
        url: '/requests/new', //sumbits it to the given url of the form
        data: vals,
        dataType: "script" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(script){
        console.log("success", script);
    });
      return false;
    };
</script

<table width=100%>
	<tr>
		<td>
			<h1>Новая заявка</h1>
		</td>
		<td align="right">
			<a href="http://дом.рф/wp-content/uploads/2016/10/anketa_kredit_zaim_dec.pdf" class="btn-link" style="color:blue" target="_new">Версия дом.рф</a>
		</td>
	</tr>			
</table>
<%= render 'form' %>

<%= link_to 'Назад', requests_path %>
