<h1>Выдача кредита</h1>
<h2>1. Выбор заявителя</h2>
<div class="col-md-12">
<div class="col-md-1"><label>Поиск заявителя</label></div><div class="col-md-3"><input class="form-control" id="searchPersonBox"/></div>
</div>
<div id="foundPersons" class="col-md-6">
</div>
<div id="foundRequests" class="col-md-6">
	
</div>