// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
	padding-top: 13px;
}
hr {
	border-color: #2F444E;
}